.advantages {
  outline: 2px solid rgb(226, 241, 10);
  margin: 0;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item--blue {
  background-color: $blue-basic;
  outline: 2px solid rgb(241, 10, 10);
  text-align: center;
  color: $white;
}

.advantages__title {
  font-family: $basic-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number {
  font-family: $basic-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__description {
  font-family: $basic-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__list--white {
  background-color: $white;
  outline: 2px solid rgb(10, 52, 241);
  text-align: center;
}

.advantages__list--grey {
  background-color: $grey;
  outline: 2px solid rgb(241, 218, 10);
  text-align: center;
}

.advantages__item--line {
  border-bottom: 1px solid;
  border-color: $grey-two;
}
