.main-nav {
  outline: 2px solid rgb(241, 133, 10);
  background-color: $blue-basic;
  text-align: center;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }
}

.main-nav__toggle {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  background-color: $blue-basic;
  border: none;
}
