.reasons {
  outline: 2px solid rgb(241, 10, 172);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 285px;
}

.reasons__title {
  display: flex;
  width: 285px;
  font-family: $basic-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.reasons__text {
  font-family: $basic-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}
