.site-list__item {
  font-family: $basic-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  list-style: none;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 26px;
  }
}

.site-list__link {
  text-decoration: none;
  color: $white;

  @media (min-width: $tablet-width) {
    color: $black;
  }
}

.site-list {
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
