$basic-font: "PT Sans", "Arial", "Helvetica", sans-serif;

//цветовая гамма
$blue-basic: #81b3d2;
$white: #ffffff;
$black: #000000;
$black-two: #333333;
$grey: #eeeeee;
$grey-two: #d9d9d9;
$grey-three: #f2f2f2;

//адаптивность
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
