// Global
@import "global/variables.scss";
@import "global/global.scss";
@import "global/fonts.scss";

// Blocks
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/intro.scss";
@import "blocks/reasons.scss";
@import "blocks/advantages.scss";
@import "blocks/offers.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";

//form
@import "blocks/feedback.scss";
@import "blocks/data.scss";
@import "blocks/contact.scss";
@import "blocks/impression.scss";
@import "blocks/attractions.scss";
@import "blocks/emotions.scss";
@import "blocks/photos.scss";
@import "blocks/video.scss"
